.App {
  box-sizing: border-box;
  text-align: center;
  background-color: #a50050;
  min-height: 100vh;
  color:rgb(144, 121, 121);
}

.CalcContainer {
  width: 500px;
  margin:auto;
  text-align: center;
  padding: 50px;
}

.CalcDisplay {
  border: 1px solid #024a28;
  height: 200px;
  font-size: 2em;
  text-align: right;
  padding:10px;
  background: #744141;
  color:#939324;
  border-radius: 4px;
  margin-bottom: 2px;
}

.ButtonContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.ButtonContainer > button {
  font-size: 2em;
  justify-content: center;
  color: #F2F1F0;
  background-color: #480083;
  border: 1px solid #1C1C1C;
  border-radius: 4px;
  padding: 5px;
}

.NumButton {
  color: #FFF1F0 !important;
  background-color: #1C1C1C !important;
}

.TextButton {
  color: #FFF1F0 !important;
  background-color: #1C1C1C !important;
  font-size: 2em;
  justify-content: center;
  color: #F2F1F0;
  background-color: #FF9500;
  border: 1px solid #1C1C1C;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  margin: 2px;
}

.ClearButton {
  color: #FF9500 !important;
  background-color: #1C1C1C !important;
}



